<footer class="navbar navbar-inverse site-footer">
  <div class="container-fluid">
    <div class="navbar-text text-left">
        <p>A silly demo of Hyrax.</p>
        <p><%= t('hyrax.product_name') %> is based on Hyrax v<%= Hyrax::VERSION %></p>
    </div>
    <div class="navbar-right">
      <div class="navbar-text text-right">
        <span> &copy; <%= Date.today.year %> Kickme</span>
        <br> asc3 Version
        <div class="version">
          ENV: <%= Rails.env %>
          <br>SHA: <%= GIT_SHA %>
          <br>Branch: <%= BRANCH %>
          <br>Updated: <%= LAST_DEPLOYED %>
        </div>
      </div>
    </div>
  </div>
</footer>
